*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.simplecalc,.temp,.bmi{
    height: 350px;
    width: 350px;
    background-color: rgba(201, 167, 235,0.6);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.font{
    text-transform: uppercase;
    font-size: large;
    text-align: center;
    margin-top: 10px;
    color:#0d6efd;

}
.bmi img,.simplecalc img,.temp img{
    width:80%;
    height: 200px;
    margin-top: 10px;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 10px;}
body{
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media  screen and (max-width:550px)
 {
    .container
   {
    width: 100%;
   }

   body{
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg");
    background-size: cover;
    background-repeat: repeat-y;
   }
   .simplecalc,.temp,.bmi
   {
    margin-top: 20px;
   }
 }



