*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
form{
    text-align: center;
}
#result,#result2{
    text-align: center;
    margin-top: 20px;
}
.container{
    margin:auto;
    padding-top: 40px;
    background-color: rgba(255,255,255,0.6);
    height: 300px;
    width: 300px;
    box-shadow: 2px 2px 2px black;
}
body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url("https://img.freepik.com/premium-photo/thermometer-shows-temperature-is-heat-sky_33799-3650.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;

}